.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:20px;
    width: 100vh;
}
a:link,
a:visited {
    color: rebeccapurple;
    font-weight: bold;
    content: "abc";
}

#inp{
    margin-right: 10px;
    min-width: 180px;
}

a:hover {
    color:black;
}

.rowAlign{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tableWidth{
    min-width: 302px;
    width: 100%;
    margin: 10px;
    padding-left: 10px;
}

.lineitem{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}
   